body {
    background-color: #d6dbdf ; /* Color de fondo */
    margin-bottom: 0px; /* Espacio debajo de la barra de navegación */
}

.custom-line {
    border: none;
    height: 2px; /* Grosor de la línea */
    background-color: #000; /* Color de la línea */
    margin: 0px -10px; /* Espaciado vertical */
}

.marco_superior {
    padding: 30 40px;
    align-items: center; /* Alinea verticalmente los elementos */
    width: 1920px;
    height: 70px;
    /* display: flex;  */

}

.logo_empresa {
    height: 60px;
    width: auto;
}

.icono {
    height: 60px;
    width: auto;
    padding: 0 0px;
}

.nav_principal {
    /* Alinea verticalmente los elementos */
    align-items: center; 

    /* Usa flexbox para alinear los elementos horizontalmente */ 
    /* display: flex;  */
}

.nav-link {
    font-size: 20px;
    text-decoration: none; /* Elimina el subrayado */
    color: #000; /* Color del texto (puedes cambiarlo según el diseño) */
    padding: 10px 15px; /* Espaciado interno de los enlaces */
    border: 1px solid transparent; /* Estilo de borde inicial (puedes ajustar según tu diseño) */
    border-radius: 4px; /* Bordes redondeados */
    margin: 0 5px; /* Espacio horizontal entre los enlaces */
    transition: background-color 0.3s; /* Transición para el cambio de color de fondo */
}

.nav-link:hover {
    background-color: #e2e6ea; /* Color de fondo en el hover */
    color: #0056b3; /* Color del texto en el hover */
}

.nav-link-img {
    text-decoration: none; /* Elimina el subrayado */
    color: #000; /* Color del texto (puedes cambiarlo según el diseño) */
    padding: 0 0px; /* Espaciado interno de los enlaces */
    border: 0px solid transparent; /* Estilo de borde inicial (puedes ajustar según tu diseño) */
    border-radius: 20%; /* Bordes redondeados */
    margin: 0 0px; /* Espacio horizontal entre los enlaces */
    transition: background-color 0.3s; /* Transición para el cambio de color de fondo */
}

.nav-link-img:hover {
    background-color: #e2e6ea; /* Color de fondo en el hover */
    color: #0056b3; /* Color del texto en el hover */
}

.nav-center {
    /* Alinea verticalmente los elementos */
    align-items: center; 
    /* Centra los botones en el contenedor */
    display: flex; 
    justify-content: center;
}

.nav-right {
    /* Alinea verticalmente los elementos */
    align-items: center; 
    /* Usa flexbox para alinear los elementos horizontalmente */ 
    display: flex; 
    justify-content: flex-end;
    color: blue;
}