body {
    background-color: #171D26 ; 
    /* background-color: #242429 ;  */

    
    margin-bottom: 0px; /* Espacio debajo de la barra de navegación */
}

.custom-line {
    border: none;
    height: 2px; /* Grosor de la línea */
    background-color: #000; /* Color de la línea */
    margin: 0px -10px; /* Espaciado vertical */
}


.button-container {
    text-align: center; /* Centra los botones en el contenedor */
    margin-bottom: 10px; /* Espacio debajo de los botones */
}

.button-container .btn {
    margin: 0 10px; /* Espacio horizontal entre los botones */
}

.nav-links {

    display: flex; /* Usa flexbox para alinear los elementos horizontalmente */
    align-items: center; /* Alinea verticalmente los elementos */
    margin-bottom: 0px; /* Espacio debajo de la barra de navegación */
}

.nav-link {
    font-size: 20px;

    text-decoration: none; /* Elimina el subrayado */
    color: #000; /* Color del texto (puedes cambiarlo según el diseño) */
    padding: 10px 15px; /* Espaciado interno de los enlaces */
    border: 1px solid transparent; /* Estilo de borde inicial (puedes ajustar según tu diseño) */
    border-radius: 4px; /* Bordes redondeados */
    margin: 0 5px; /* Espacio horizontal entre los enlaces */
    transition: background-color 0.3s; /* Transición para el cambio de color de fondo */
}

.nav-link:hover {
    background-color: #e2e6ea; /* Color de fondo en el hover */
    color: #0056b3; /* Color del texto en el hover */
}


.imagen-1 {
    width: 130px; /* Ajusta el ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-top: 10px;
    margin-right: 220px; /* Espacio entre la imagen y los enlaces */
    margin-left: 250px; /* Espacio entre la imagen y los enlaces */
    user-select: none; /* Desactiva la selección de la imagen */
    pointer-events: none; /* Desactiva los eventos del puntero sobre la imagen */
}

.btn-salir {
    background-color: #ff4d4d; /* Color de fondo del botón "Salir" */
    color: white; /* Color del texto del botón */
    padding: 10px 15px; /* Espaciado interno del botón */
    border-radius: 4px; /* Bordes redondeados */
    
    text-decoration: none; /* Elimina el subrayado */
}

.btn-salir:hover {
    background-color: #ff1a1a; /* Color de fondo en el hover */
}

.icono {
    width: 40px;
    height: 40px; /* Mantiene la proporción de la imagen */
    padding: 10 10px;
    margin: 0 0px; /* Espacio horizontal entre los enlaces */
    margin-top: 0px;
}

.xd {
    margin-bottom: 10px;
}

.nav-center {
    margin-right: 350px;

}

.custom-line2 {
    border: none;
    height: 2px; /* Grosor de la línea */
    background-color: #000; /* Color de la línea */
    margin: 0px 180px; /* Espaciado vertical */
}

.label-productos {
    color: white;
    margin-top: 50px;
    margin-bottom: 10px;
    border: none;
    display: flex; /* Usa flexbox para alinear los elementos horizontalmente */
}

.imagen-2 {
    width: 55px; /* Ajusta el ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-top: 10px;
    margin-right: 30px; /* Espacio entre la imagen y los enlaces */
    margin-left: 180px; /* Espacio entre la imagen y los enlaces */
    user-select: none; /* Desactiva la selección de la imagen */
    pointer-events: none; /* Desactiva los eventos del puntero sobre la imagen */
}


.productos-texto {
    font-size: 55px; /* Tamaño del texto */
    font-weight: bold; /* Negrita */
}

.label-opciones {
    margin-top: 50px;
    margin-bottom: 10px;
    border: none;
    display: flex; /* Usa flexbox para alinear los elementos horizontalmente */

}

.btn-agregar {
    padding-left: 200px;
    margin-left: 920px;
    border-radius: 25px; /* Hace que el botón sea circular */
    background-color: #11ce50; /* Color de fondo del botón "Salir" */
    color: black; /* Color del texto del botón */
    border: 2px solid black;
    padding: 20px 95px; /* Espaciado interno del botón */
    
    text-decoration: none; /* Elimina el subrayado */
}


.btn-agregar:hover {
    background-color: #741f74a4; /* Color de fondo en el hover */
}

/* BARRA BUSQUEDA */

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
   }
   
   .input {
    margin-left: 180px;
    margin-top: 30px;
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 20px 1500px; /* Espaciado interno del botón */
    padding-left: 2.5rem;
    /* border: 2px solid transparent; */
    border: 2px solid gray;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
   }
   
   .input::placeholder {
    color: #9e9ea7;
   }
   
   .input:focus, input:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
   }
   
   .icon {
    margin-top: 30px;
    margin-left: 180px;
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
   }
   
/* BARRA BUSQUEDA */


/* TABLA */
.table {
    margin-top: 30px;
    margin-right: 180px;
    margin-left: 180px;
    display: table;
    width: 1540px;
    border-collapse: collapse;
}
.table-row {
    background-color: #f2f2f2;
    display: table-row;
}
.table-cell, .table-header-cell {
    display: table-cell;
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}
.table-header-cell {
    background-color: #f2f2f2;
    font-weight: bold;
}

/* TABLA */
