body {
    background-color: #171D26 ; 
}

.salto_linea_xd {

    height: 70px;
}

.boton_borrar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: #cc0000;
  outline: 3px #cc0000 solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

.boton_borrar .text {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}

.boton_borrar svg path {
  transition: 400ms;
}

.boton_borrar:hover {
  background-color: transparent;
}

.boton_borrar:hover .text {
  color: #cc0000;
}

.boton_borrar:hover svg path {
  fill: #cc0000;
}