.boton_salir_final {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
  }
  
  /* plus icono_salir_final */
  .icono_salir_final {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icono_salir_final svg {
    width: 17px;
  }
  
  .icono_salir_final svg path {
    fill: white;
  }
  /* texto_salir_final */
  .texto_salir_final {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .boton_salir_final:hover {
    width: 105px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .boton_salir_final:hover .icono_salir_final {
    width: 30%;
    transition-duration: .3s;
    padding-left: 10px;
  }
  /* hover effect button's texto_salir_final */
  .boton_salir_final:hover .texto_salir_final {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 5px;
  }
  /* button click effect*/
  .boton_salir_final:active {
    transform: translate(2px ,2px);
  }