body {
    font-family: "Fira Sans", sans-serif;
    background-color: #17181c;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    overflow: hidden; 
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.image-container {
    width: 50%;
    height: 100%;
}

.image-container img {
    width: 100%;
    height: 105%;
    object-fit: cover;
}

.form-container {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

h2 {
    margin-bottom: 20px;
    font-family: "Fira Sans", sans-serif;
    font-size: 40px;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

form {
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 350px;
    display: flex;

    align-items: center;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
    width: 100%;
}

input[type="text"], 
input[type="password"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #17181C;

    font-family: "Fira Sans", sans-serif;
}

input[type="submit"] {
    font-weight: bold;
    font-size: 16px; /* Tamaño del texto más pequeño */
    background-color: #54A66D;
    color: #ffffff;
    padding: 10px 20px; /* Tamaño del botón más pequeño */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px; /* Espacio superior para separar del campo anterior */
    font-family: "Fira Sans", sans-serif;
    width: calc(100% - 0px);
    box-sizing: border-box;

}

input[type="submit"]:hover {
    background-color: #34974D;
    color: #17181C;
}

a {
    color: #93c2f4;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
    
}

a:hover {
    color: #05c441;
}

#paper {
    background: linear-gradient(135deg, #1f2027, #3b3c4d);
    border-radius: 10px;
    max-width: 600px; /* Ajusta este valor según tus necesidades */
    width: 47%; /* Asegura que el div utilice todo el ancho disponible 45 o 60*/
    padding: 20px; /* Añade algo de padding para darle espacio interno */
    margin: 10px auto; /* Centra el div horizontalmente y añade margen superior e inferior */
    padding-left: 40px;
}
